# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
hypothesis/
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db
node_modules
dist
temp_backup
.DS_Store
